.products-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align the cards */
  gap: 1px; /* Space between each card */
  background-color: #ffffff; /* Optional background color */
  /* padding: 0px; Padding around the container */
  margin: -20px;
}
.home {
    align-items: center;
    justify-content: center; 
}